h2 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: blueviolet;
    justify-content: space-around;
}

.flex-item {
    background: beige;
    padding: 50px;
    margin: 5px;
}

@media screen and (max-width: 600px) {
    body {
        background-color: rgb(197, 197, 197) ;
    }
    
    .flex-container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: blue;
    }

    .flex-item {
        background: rgb(207, 205, 205);
    }
}
